<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="OpenLessImeDirectory" Name="windows-ime">
        <Directory Id="OpenLessImeX64Directory" Name="x64">
          <Component Id="OpenLessImeDllX64Component" Guid="{6C72BDEF-50EE-4A6D-9E4A-C345DAF3D434}" Win64="yes">
            <File Id="OpenLessImeDllX64" Name="OpenLessIme.dll" Source="src-tauri\target\windows-ime-msvc\x64\Release\OpenLessIme.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id="OpenLessImeX86Directory" Name="x86">
          <!-- The x86 TSF DLL is intentionally packaged inside the x64 MSI
               under INSTALLDIR\windows-ime\x86 and registered with
               SysWOW64\regsvr32 below. Mark the MSI component as 64-bit so
               WiX accepts it under the x64 INSTALLDIR; this does not change
               the architecture of the DLL payload. -->
          <Component Id="OpenLessImeDllX86Component" Guid="{36544879-B9E1-40DE-99C4-2CD27E202783}" Win64="yes">
            <File Id="OpenLessImeDllX86" Name="OpenLessIme.dll" Source="src-tauri\target\windows-ime-msvc\x86\Release\OpenLessIme.dll" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
    <CustomAction
      Id="RegisterOpenLessImeX64"
      Directory="INSTALLDIR"
      Execute="deferred"
      Impersonate="no"
      ExeCommand='&quot;[System64Folder]regsvr32.exe&quot; /s &quot;[#OpenLessImeDllX64]&quot;'
      Return="check" />
    <CustomAction
      Id="RegisterOpenLessImeX86"
      Directory="INSTALLDIR"
      Execute="deferred"
      Impersonate="no"
      ExeCommand='&quot;[WindowsFolder]SysWOW64\regsvr32.exe&quot; /s &quot;[#OpenLessImeDllX86]&quot;'
      Return="check" />
    <CustomAction
      Id="UnregisterOpenLessImeX64"
      Directory="INSTALLDIR"
      Execute="deferred"
      Impersonate="no"
      ExeCommand='&quot;[System64Folder]regsvr32.exe&quot; /s /u &quot;[#OpenLessImeDllX64]&quot;'
      Return="ignore" />
    <CustomAction
      Id="UnregisterOpenLessImeX86"
      Directory="INSTALLDIR"
      Execute="deferred"
      Impersonate="no"
      ExeCommand='&quot;[WindowsFolder]SysWOW64\regsvr32.exe&quot; /s /u &quot;[#OpenLessImeDllX86]&quot;'
      Return="ignore" />

    <InstallExecuteSequence>
      <!-- Issue #321: unregister the old DLL before InstallFiles whenever a
           previous version is installed, so Windows Installer can overwrite
           OpenLessIme.dll instead of failing on a sharing violation. The
           previous condition (REMOVE="ALL") only fired during dedicated
           uninstall and skipped the auto-update / minor-upgrade path. -->
      <Custom Action="UnregisterOpenLessImeX86" Before="InstallFiles"><![CDATA[Installed AND NOT REMOVE]]></Custom>
      <Custom Action="UnregisterOpenLessImeX64" Before="UnregisterOpenLessImeX86"><![CDATA[Installed AND NOT REMOVE]]></Custom>
      <Custom Action="RegisterOpenLessImeX64" After="InstallFiles"><![CDATA[NOT REMOVE]]></Custom>
      <Custom Action="RegisterOpenLessImeX86" After="RegisterOpenLessImeX64"><![CDATA[NOT REMOVE]]></Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
